h4 TOP
=render @top
h5 Kommentare
=render @top.comments
.fixed-action-btn.horizontal.direction-top.direction-left
  = link_to new_organization_meeting_top_comment_path(@top.meeting.organization,@top.meeting,@top), class:"btn-floating btn-large waves-effect waves-light light-blue" do
    i.material-icons chat
